absl-py==2.1.0
annotated-types==0.7.0
astunparse==1.6.3
black==25.1.0
branca==0.8.1
certifi==2025.1.31
charset-normalizer==3.4.1
click==8.1.8
com2ann==0.3.0
contourpy==1.3.1
cycler==0.12.1
eclipse-sumo==1.21.0
flatbuffers==25.2.10
folium==0.19.4
fonttools==4.56.0
gast==0.6.0
GeoAlchemy2==0.17.1
geographiclib==2.0
geopandas==1.0.1
geopy==2.4.1
google-pasta==0.2.0
grpcio==1.70.0
h5py==3.13.0
idna==3.10
Jinja2==3.1.5
joblib==1.4.2
keras==3.9.0
kiwisolver==1.4.8
libclang==18.1.1
libcst==1.6.0
lxml==5.3.1
Markdown==3.7
markdown-it-py==3.0.0
MarkupSafe==3.0.2
matplotlib==3.10.0
mdurl==0.1.2
mergedeep==1.3.4
ml-dtypes==0.4.1
movingpandas==0.21.2
mypy-extensions==1.0.0
namex==0.0.8
narwhals==1.26.0
numpy==2.0.2
opt_einsum==3.4.0
optree==0.14.1
ordered-set==4.1.0
packaging==24.2
pandas==2.2.3
pathspec==0.12.1
pillow==11.1.0
platformdirs==4.3.6
plotly==6.0.0
protobuf==5.29.3
psycopg2-binary==2.9.10
pydantic==2.10.6
pydantic-settings==2.7.1
pydantic_core==2.27.2
pyflakes==3.2.0
Pygments==2.19.1
pymap3d==3.1.0
pyogrio==0.10.0
pyparsing==3.2.1
pyproj==3.7.0
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pytz==2025.1
pyupgrade==3.19.1
PyYAML==6.0.2
requests==2.32.3
rich==13.9.4
Rtree==1.3.0
ruamel.yaml==0.18.10
ruamel.yaml.clib==0.2.12
ruff==0.9.6
scikit-learn==1.6.1
scipy==1.15.1
shapely==2.0.7
six==1.17.0
SQLAlchemy==2.0.37
stonesoup==1.5
sumolib==1.22.0
tensorboard==2.18.0
tensorboard-data-server==0.7.2
tensorflow==2.18.0
tensorflow-io-gcs-filesystem==0.37.1
termcolor==2.5.0
threadpoolctl==3.5.0
tokenize_rt==6.1.0
traci==1.22.0
typing_extensions==4.12.2
tzdata==2025.1
urllib3==2.3.0
utm==0.8.0
Werkzeug==3.1.3
wrapt==1.17.2
xgboost==2.1.4
xyzservices==2025.1.0
